<!-- Start Home-banner -->
<section class="section-banner">
    <div class="banner">
        <a href="#"><img src="img/banner4.png" alt=""></a>
    </div>
</section>

<section class="bread-crumb">
    <div class="container">
        <ul class="breadcrumb py-4 mb-0">
            <li class="home">
                <a href="index.html"><span>Trang chủ</span></a>
                <span class="m-3"><i class="fa-solid fa-angle-right fa-xs"></i></span>
            </li>
            <li>
                <strong>{{type}}</strong>
            </li>
        </ul>
    </div>
</section>

<section class="main-content">
    <div class="container">
        <div class="category">
            <div class="row">
                <div ng-repeat="p in products | limitTo: limit: start" class="col-lg-3 col-md-6 col-6">
                    <div class="card prod-item border-0 bg-transparent">
                        <div class="card-body prod-thumbnail p-0">
                            <img src="{{p.Image[0]}}" alt="" class="card-img-top rounded-bottom-3 rounded-top-3">
                            <a href="#!productdetails/{{p.ID}}"><button class="btn-view text-center rounded-bottom-3">Tùy chọn</button></a>
                        </div>
                        <div class="card-footer border-0 bg-transparent prod-info">
                            <h3 class="card-title prod-name">
                                <a href="#!productdetails/{{p.ID}}">{{p.Name}}</a>
                            </h3>
                            <span class="card-text prod-price">{{p.Price | number}}₫ <span>{{p.Price | number}}₫</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagenav mt-4 mb-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item {{page == 1 ? 'd-none' : ''}}">
                        <a class="page-link border-0" href="" ng-click="changePage(page = page - 1)"><i class="fa-solid fa-angle-left fa-xs"></i></a>
                    </li>
                    <li class="page-item" ng-repeat="pg in numberOfPage">
                        <a class="page-link border-0 {{pg == 0 ? 'active' : ''}}" href="" ng-click="changePage(page = pg + 1)" name="{{pg + 1}}">{{pg + 1}}</a>
                    </li>
                    <li class="page-item {{page == totalPage ? 'd-none' : ''}}">
                        <a class="page-link border-0" href="" ng-click="changePage(page = page + 1)"><i class="fa-solid fa-angle-right fa-xs"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>